@import "tailwindcss";

body {
  --main-red: #e10613;
  --main-blue: #02529f;
  --linear-color: linear-gradient(
    nulldeg,
    rgba(225, 6, 19, 1) 0%,
    rgba(186, 19, 43, 1) 43%,
    rgba(2, 82, 159, 1) 100%
  );
}
